# prism viability + klaeger kinome inhibition state (kis)

In [1]:
import pyreadr
def read_rds(file):
    df = pyreadr.read_r(file)[None]
    return df

viability = read_rds('../data/PRISM_klaeger_imputed_tidy.rds')
viability.head()

    depmap_id         drug  klaeger_conc  imputed_viability
0  ACH-000007  Abemaciclib  3.000000e-09           0.974677
1  ACH-000007  Abemaciclib  1.000000e-08           0.942180
2  ACH-000007  Abemaciclib  3.000000e-08           0.884299
3  ACH-000007  Abemaciclib  1.000000e-07           0.767666
4  ACH-000007  Abemaciclib  3.000000e-07           0.554302

In [2]:
kis = read_rds('../data/klaeger_full_tidy.rds')
kis['gene_name'] = 'inh_' + kis['gene_name']
kis.head()

          drug gene_name  relative_intensity  concentration_M
0  Abemaciclib  inh_AAK1            1.000000     0.000000e+00
1  Abemaciclib  inh_AAK1            0.905556     3.000000e-09
2  Abemaciclib  inh_AAK1            0.791054     1.000000e-08
3  Abemaciclib  inh_AAK1            0.738292     3.000000e-08
4  Abemaciclib  inh_AAK1            0.639565     1.000000e-07

In [3]:
# pivot so genes are columns
kis = kis.pivot(index=['drug', 'concentration_M'], columns='gene_name', values='relative_intensity').reset_index()
kis.columns.name = None
kis.head()

,drug,concentration_M,inh_AAK1,inh_ABL1,inh_ABL2,inh_ACAD10,inh_ACAD11,inh_ACADVL,inh_ACOX1,inh_ACOX3,...,inh_ULK3,inh_UNC119,inh_VDAC3,inh_WEE1,inh_YARS,inh_YES1,inh_YTHDF3;YTHDF1,inh_YWHAG,inh_YWHAQ,inh_ZAK
0,AC-480,0.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,AC-480,3.000000e-09,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,AC-480,1.000000e-08,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,AC-480,3.000000e-08,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,AC-480,1.000000e-07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# create kis_viability

In [4]:
common_drugs = set(viability['drug']).intersection(set(kis['drug']))
common_conc = set(viability['klaeger_conc']).intersection(set(kis['concentration_M']))

In [5]:
kis_viability = kis[(kis['drug'].isin(common_drugs)) & (kis['concentration_M'].isin(common_conc))]
kis_viability = kis_viability.sort_values(['drug', 'concentration_M']).reset_index(drop=True)
kis_viability = kis_viability.merge(viability, left_on=['drug', 'concentration_M'], right_on=['drug', 'klaeger_conc'], how='inner')
kis_viability = kis_viability.drop(columns=['klaeger_conc'])
kis_viability = kis_viability.rename(columns={'imputed_viability': 'viability'})
kis_viability.head()

,drug,concentration_M,inh_AAK1,inh_ABL1,inh_ABL2,inh_ACAD10,inh_ACAD11,inh_ACADVL,inh_ACOX1,inh_ACOX3,...,inh_VDAC3,inh_WEE1,inh_YARS,inh_YES1,inh_YTHDF3;YTHDF1,inh_YWHAG,inh_YWHAQ,inh_ZAK,depmap_id,viability
0,AC-480,3.000000e-09,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000007,1.000000
1,AC-480,3.000000e-09,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000008,1.088750
2,AC-480,3.000000e-09,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000011,1.000000
3,AC-480,3.000000e-09,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000012,1.298190
4,AC-480,3.000000e-09,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000013,1.458047

# kinome graph

In [6]:
# list of kinases to see which kinome graph to use
kinases = [col.split('inh_')[-1] for col in kis_viability.columns if col.startswith('inh_')]
kinases

['AAK1',
 'ABL1',
 'ABL2',
 'ACAD10',
 'ACAD11',
 'ACADVL',
 'ACOX1',
 'ACOX3',
 'ACP1',
 'ACSL5',
 'ACTR2',
 'ACTR3',
 'ACVR1',
 'ACVR1B',
 'ACVR2B',
 'ACVRL1',
 'ADCK1',
 'ADCK3',
 'ADCK5',
 'ADD2',
 'ADK',
 'ADRBK1',
 'ADSL',
 'AFF1',
 'AFF4',
 'AIMP1',
 'AK2',
 'AKR1C3',
 'AKT1',
 'AKT2',
 'AKT3',
 'ALK',
 'AP1B1',
 'AP1G1',
 'AP2A1',
 'AP2A2',
 'AP2B1',
 'AP2M1',
 'APRT',
 'ARAF',
 'ATR',
 'AURKA',
 'AURKB',
 'AZI2',
 'BCR',
 'BMP2K',
 'BMPR1A',
 'BMPR1B',
 'BMPR2',
 'BRAF',
 'BRD4',
 'BRD4;BRD3',
 'BTK',
 'BUB1',
 'C2CD5',
 'CAB39',
 'CABLES1',
 'CALM1',
 'CALR',
 'CAMK1G',
 'CAMK2D',
 'CAMK2G',
 'CAMK4',
 'CAMKK2',
 'CAPNS1',
 'CAPZA1',
 'CARS',
 'CBR1',
 'CCAR2',
 'CCDC47',
 'CCNA2',
 'CCNB1',
 'CCNB2',
 'CCNE1',
 'CCNE2',
 'CCNH',
 'CCNI',
 'CCNK',
 'CCNT1',
 'CCNT2',
 'CDC23',
 'CDC42BPA',
 'CDC42BPB',
 'CDC42BPG',
 'CDC7',
 'CDK1',
 'CDK10',
 'CDK12',
 'CDK13',
 'CDK16',
 'CDK17',
 'CDK18',
 'CDK2',
 'CDK3',
 'CDK4',
 'CDK5',
 'CDK6',
 'CDK7',
 'CDK9',
 'CDKL5',
 'CERS2',
 'CHD4',
 'CHEK1',
 'CIT',
 'CKAP5',
 'CKS1B',
 'CLK1',
 'CLK2',
 'CLK3',
 'CLK4',
 'CMPK1',
 'CNOT2',
 'COG1',
 'COMT',
 'COX6C',
 'CSK',
 'CSNK1A1',
 'CSNK1D',
 'CSNK1E',
 'CSNK1G1',
 'CSNK1G2',
 'CSNK1G3',
 'CSNK2A1;CSNK2A3',
 'CSNK2A2',
 'CSNK2B',
 'CTTN',
 'CYC1',
 'DBI',
 'DCAF7',
 'DCK',
 'DCTPP1',
 'DDB1',
 'DDR1',
 'DDR2',
 'DDT;DDTL',
 'DDX1',
 'DDX3X',
 'DDX42',
 'DDX6',
 'DHCR24',
 'DHX30',
 'DKC1',
 'DNAJA1',
 'DNAJB11',
 'DNAJC3',
 'DNAJC9',
 'DYNLL1',
 'DYNLL2',
 'DYRK1A',
 'DYRK1B',
 'EGFR',
 'EIF2AK1',
 'EIF2B1',
 'EIF2S3;EIF2S3L',
 'EIF3J',
 'EIF3M',
 'EIF4G1',
 'EIF5B',
 'EPHA1',
 'EPHA2',
 'EPHA4',
 'EPHA5',
 'EPHA7',
 'EPHB2',
 'EPHB3',
 'EPHB4',
 'EPHB6',
 'ERCC2',
 'ERLIN2',
 'ERN1',
 'ERN2',
 'ETF1',
 'ETFB',
 'EWSR1',
 'EXOC4',
 'FADS2',
 'FAH',
 'FAM58A;FAM58BP',
 'FAM83A',
 'FAM83B',
 'FAM92B',
 'FANCD2',
 'FANCI',
 'FARSB',
 'FDPS',
 'FECH',
 'FER',
 'FES',
 'FGFR1',
 'FGR',
 'FIBP',
 'FLNB',
 'FLT3',
 'FRK',
 'FYN',
 'GAK',
 'GAPVD1',
 'GARS',
 'GEMIN4',
 'GFPT1',
 'GHITM',
 'GLO1',
 'GNAI2',
 'GRAMD1A',
 'GRB2',
 'GRK6',
 'GSK3A',
 'GSK3B',
 'GSKIP',
 'GSPT2',
 'GTPBP4',
 'HBG1',
 'HCK',
 'HIST2H2BE;HIST1H2BB;HIST1H2BO;HIST1H2BJ;HIST3H2BB;HIST1H2BA',
 'HMOX2',
 'HNRNPH3',
 'HSP90AB2P',
 'IARS2',
 'ICK',
 'IGF1R',
 'IGF2BP3',
 'IKBKE',
 'ILK',
 'IMPDH2',
 'INA',
 'INCENP',
 'INPPL1',
 'INSR',
 'IPO7',
 'IRAK1',
 'IRAK3',
 'IRAK4',
 'JAK1',
 'JAK2',
 'KIAA0195',
 'KIT',
 'KLHL6',
 'LAGE3',
 'LASP1',
 'LATS1',
 'LCK',
 'LIMK1',
 'LIMK2',
 'LMAN1',
 'LSM3',
 'LYN',
 'MAP2K1',
 'MAP2K2',
 'MAP2K3',
 'MAP2K4',
 'MAP2K5',
 'MAP2K6',
 'MAP3K1',
 'MAP3K11',
 'MAP3K2',
 'MAP3K3',
 'MAP3K4',
 'MAP3K5',
 'MAP3K6',
 'MAP4K1',
 'MAP4K2',
 'MAP4K3',
 'MAP4K4',
 'MAP4K5',
 'MAPK1',
 'MAPK10',
 'MAPK11',
 'MAPK14',
 'MAPK15',
 'MAPK3',
 'MAPK7',
 'MAPK8',
 'MAPK9',
 'MAPKAPK2',
 'MAPKAPK3',
 'MAPKAPK5',
 'MARK2',
 'MARK3',
 'MARK4',
 'MAT2A',
 'MCM4',
 'MDH1',
 'MDN1',
 'MED23',
 'MELK',
 'MERTK',
 'MET',
 'MFAP1',
 'MINK1',
 'MLLT1',
 'MNAT1',
 'MOB1A;MOB1B',
 'MST1R',
 'MYH10',
 'MYH14',
 'MYLK',
 'MYLK3',
 'NAT10',
 'NCKAP1L',
 'NCL',
 'NDUFA13',
 'NEK1',
 'NEK2',
 'NEK3',
 'NEK7',
 'NEK9',
 'NLK',
 'NME2',
 'NME2P1',
 'NPM1',
 'NQO2',
 'NTRK1',
 'NUAK2',
 'NUCKS1',
 'OLA1',
 'OPA1',
 'OSBPL3',
 'OSBPL8',
 'OSGEP',
 'P4HB',
 'PAG1',
 'PAICS',
 'PAK2',
 'PAK4',
 'PAK6',
 'PASK',
 'PCBP2;PCBP3',
 'PCYT1A',
 'PDCD10',
 'PDCD11',
 'PDGFRB',
 'PDPK1;PDPK2P',
 'PDXK',
 'PEBP1',
 'PFKP',
 'PGD',
 'PGRMC1',
 'PHKA1',
 'PHKA2',
 'PHKB',
 'PHKG2',
 'PIGK',
 'PIGT',
 'PIK3R1',
 'PIM1',
 'PIM2',
 'PIP4K2A',
 'PIP4K2A;PIP4K2B',
 'PIP4K2C',
 'PKMYT1',
 'PKN1',
 'PKN2',
 'PKN3',
 'PLA2G2A',
 'PLK1',
 'PLK4',
 'PPIB',
 'PPP1CA',
 'PPP4R2',
 'PRKAA1',
 'PRKAB1',
 'PRKAB2',
 'PRKACA',
 'PRKACB',
 'PRKACG',
 'PRKAG1',
 'PRKAG2',
 'PRKAR2A',
 'PRKCA',
 'PRKCB',
 'PRKCD',
 'PRKCE;PRKCH',
 'PRKCI',
 'PRKCQ',
 'PRKCZ',
 'PRKD2',
 'PRKD3',
 'PRKG1',
 'PRKX',
 'PRKX;PRKY',
 'PRPH',
 'PSMA7',
 'PSMB6',
 'PSMC4',
 'PSMD12',
 'PSMD6',
 'PSMD7',
 'PSMG1',
 'PTCD3',
 'PTK2',
 'PTK2B',
 'PTK6',
 'PTMA',
 'PTPN1',
 'PYCR1',
 'PYCR2',
 'PYGB',
 'PYGL',
 'Q6ZSR9',
 'RAB10',
 'RAB27A',
 'RAB6A',
 'RABL3',
 'RAC1',
 'RAN',
 'RANGAP1',
 'RASSF2',
 'RASSF3',
 'RASSF5',
 'RET',
 'RIPK2',
 'RIPK3',
 'RNPEP',
 'ROCK1',
 'ROCK2',
 'RPL10',
 'RPL13',
 'RPL28',
 'RPL31',
 'RPL35',
 'RPL35A',
 'RPL4',
 'RPL6',
 'RPS4X',
 'RPS6KA1',
 'RPS6KA3',
 'RPS6KA4',
 'RPS6KA5',
 'RPS6KA6',
 'RPS6KB1',
 'RRP8',
 'S100A6',
 'S100A8',
 'SAE1',
 'SARNP',
 'SAV1',
 'SEC16A',
 'SEPT9',
 'SGTA',
 'SIK2',
 'SIK3',
 'SKIV2L2',
 'SLC16A3',
 'SLC25A11',
 'SLC25A5',
 'SLC25A6',
 'SLC2A1',
 'SLC5A1',
 'SLK',
 'SMARCC1',
 'SMARCE1',
 'SMC1A',
 'SMC2',
 'SMS',
 'SNAP29',
 'SNRNP200',
 'SNRPF',
 'SPAG9',
 'SRC',
 'SRPR',
 'SRSF2',
 'SSR1',
 'STK10',
 'STK11',
 'STK16',
 'STK24',
 'STK26',
 'STK3',
 'STK38',
 'STK38L',
 'STK4',
 'STRADA',
 'SUCLA2',
 'SUMO2',
 'SYK',
 'SYNGR2',
 'TANK',
 'TAOK1',
 'TAOK2',
 'TAOK3',
 'TBK1',
 'TBKBP1',
 'TEC',
 'TESK1',
 'TESK2',
 'TEX264',
 'TGFBR1',
 'TGFBR2',
 'THRAP3',
 'TMEM33',
 'TNIK',
 'TNK1',
 'TNK2',
 'TOP2A',
 'TOP2B',
 'TP53RK',
 'TPRKB',
 'TRAF2',
 'TRAF7',
 'TRRAP',
 'TTK',
 'TUFM',
 'TXN',
 'TYK2',
 'U2AF1;U2AF1L4',
 'UBAP2L',
 'UBASH3B',
 'UBE3C',
 'UGGT1',
 'ULK1',
 'ULK3',
 'UNC119',
 'VDAC3',
 'WEE1',
 'YARS',
 'YES1',
 'YTHDF3;YTHDF1',
 'YWHAG',
 'YWHAQ',
 'ZAK']

In [7]:
import networkx as nx
import pandas as pd

# v1: hippie
df = pd.read_csv('../data/hippieKinNetEntrez-v1.tab', sep='\t', header=None, names=['source', 'target', 'prob'])
G1 = nx.from_pandas_edgelist(df, edge_attr=None)
assert set(df['source']).union(set(df['target'])) == set(G1.nodes)
print('nodes:', len(G1.nodes), 'edges:', len(G1.edges))

# v2: csv
df = pd.read_csv('../data/kin_unweighted.csv', sep='\t', header=None, names=['source', 'target'])
G2 = nx.read_edgelist('../data/kin_unweighted.csv')
assert set(df['source']).union(set(df['target'])) == set(G2.nodes)
print('nodes:', len(G2.nodes), 'edges:', len(G2.edges))

# # WIP: visualize
# from pyvis.network import Network

# g = Network(cdn_resources='in_line')
# g.from_nx(G)
# g.show('ex.html')
# plot G
# nx.draw(G, with_labels=True)

nodes: 324 edges: 1795
nodes: 517 edges: 5066

In [8]:
print('kinases:', len(kinases))
print(f'G1: {len(G1.nodes)} ({len(set(G1.nodes).intersection(set(kinases)))})')
print(f'G2: {len(G2.nodes)} ({len(set(G2.nodes).intersection(set(kinases)))})')

kinases: 520
G1: 324 (144)
G2: 517 (237)

^^ let's use G2 (more matches)

In [9]:
df = pd.read_csv('../data/kin_unweighted.csv', sep='\t', header=None, names=['source', 'target'])
G = nx.read_edgelist('../data/kin_unweighted.csv')

matched_kinases = set(G.nodes).intersection(set(kinases))
len(matched_kinases)

237

# for a fair comparison, only include kis for the kinases matched to the graph

In [10]:
kis_viability

,drug,concentration_M,inh_AAK1,inh_ABL1,inh_ABL2,inh_ACAD10,inh_ACAD11,inh_ACADVL,inh_ACOX1,inh_ACOX3,...,inh_VDAC3,inh_WEE1,inh_YARS,inh_YES1,inh_YTHDF3;YTHDF1,inh_YWHAG,inh_YWHAQ,inh_ZAK,depmap_id,viability
0,AC-480,3.000000e-09,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000007,1.000000
1,AC-480,3.000000e-09,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000008,1.088750
2,AC-480,3.000000e-09,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000011,1.000000
3,AC-480,3.000000e-09,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000012,1.298190
4,AC-480,3.000000e-09,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-000013,1.458047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610843,Y-39983,3.000000e-05,0.019503,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-001239,-0.038812
610844,Y-39983,3.000000e-05,0.019503,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-001306,1.784841
610845,Y-39983,3.000000e-05,0.019503,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-001307,1.000000
610846,Y-39983,3.000000e-05,0.019503,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-001318,1.876079
610847,Y-39983,3.000000e-05,0.019503,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,ACH-001321,1.533363

In [11]:
matched_inh_cols = [col for col in kis_viability.columns if col.startswith('inh_') and col.split('inh_')[-1] in matched_kinases]
assert len(matched_inh_cols) == len(matched_kinases)
matched_kis_viability = kis_viability[[col for col in kis_viability if not col.startswith('inh_')] + matched_inh_cols]
matched_kis_viability

,drug,concentration_M,depmap_id,viability,inh_AAK1,inh_ABL1,inh_ABL2,inh_ACVR1,inh_ACVR1B,inh_ACVR2B,...,inh_TGFBR2,inh_TNIK,inh_TNK1,inh_TNK2,inh_TP53RK,inh_TTK,inh_TYK2,inh_ULK1,inh_WEE1,inh_YES1
0,AC-480,3.000000e-09,ACH-000007,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,AC-480,3.000000e-09,ACH-000008,1.088750,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,AC-480,3.000000e-09,ACH-000011,1.000000,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,AC-480,3.000000e-09,ACH-000012,1.298190,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,AC-480,3.000000e-09,ACH-000013,1.458047,1.000000,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610843,Y-39983,3.000000e-05,ACH-001239,-0.038812,0.019503,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
610844,Y-39983,3.000000e-05,ACH-001306,1.784841,0.019503,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
610845,Y-39983,3.000000e-05,ACH-001307,1.000000,0.019503,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
610846,Y-39983,3.000000e-05,ACH-001318,1.876079,0.019503,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
610847,Y-39983,3.000000e-05,ACH-001321,1.533363,0.019503,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# save kis_viability and edgelist to results

In [12]:
# save graph
nx.write_edgelist(G, '../results/kinome.edgelist', delimiter=',', data=False)
# ensure graph is saved correctly
test_G = nx.from_pandas_edgelist(pd.read_csv('../results/kinome.edgelist', header=None, names=['source', 'target']))
assert nx.utils.misc.graphs_equal(G, test_G)

# save df
matched_kis_viability.to_parquet('../results/kis_viability.parquet', index=False)
# ensure df is saved correctly
test_df = pd.read_parquet('../results/kis_viability.parquet')
assert matched_kis_viability.equals(test_df)